*{
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	color: black;
}
header {
	height:70px;
	background-color: rgb(5, 120, 128);
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	width: 200px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 0 3px 5px green;
	margin-bottom: 10px;
}
header ul {
	text-align: center;
}
header ul li {
	padding:24px;
	display: inline-block;
	color: #fff;
}
a {
	color: inherit;
	text-decoration: none;
}
.container {
	width:90%;
	margin:0 auto;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
.banner {
	background-color: #0c3f4f;
	padding:150px 0;
}
section {
	padding:50px 0;
}
.banner img {
	width: 150px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.banner h2, .banner p, .banner span {
	color: #fff;
}
.banner h2 {
	text-align: center;
	margin-bottom: 10px;
	font-size: 30px;
}
.banner p {
	text-align: center;
	font-size: 25x;
}
.banner-left {
	padding-left:24px;
}

section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position: relative;
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height:4px;
	left: calc(50% - 20px);
}
#about p {
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 15px;
}
.about-img{
 align-items: center;
}
.col-3 {
	width:33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding:50px 10px;
}
.col-3 h4 {
	margin-bottom: 15px;
}
.col-4 {
	width:25%;
	box-sizing: border-box;
	padding:5px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.col-4 img {
	width:100%;
}
.col-4 a:hover img {
	transform: scale(1.2);
}
footer {
	background-color: #333;
	padding:25px;
	text-align: center;
}
.abc{
	display: flex;
	justify-content: center;
}
.logo1 {
	align-items: center;
	width:7%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding:100px 10px;
}
.logo h4 .img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
footer small {
	color: #fff;
}

html {
	scroll-behavior: smooth;
}
@media (max-width: 768px){
	.container{
		width: 90%;
	}
	.col-4 {
		width:50%;
	}
	.col-3 {
		width:100%;
	}
	.logo1{
		width: 27%;	
	}
	.abc{
		width: 100%;
	}
}